{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jedis</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

<style>
.box{
 position: relative;
 overflow: hidden;
 box-shadow: 0 0 5px #555;
}
.box img{
 width: 80%;
 height: auto;
 transition: all 0.5s ease 0s;
}
.box:hover img{
 opacity: 0.3;
}
.box .boxContent{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 30px;
 background: rgba(0, 0, 0, 0.75);
 border: 4px solid rgba(255, 255, 255, 0.10);
 -webkit-transform: rotate(90deg);
 transform: rotate(90deg);
 -webkit-transform-origin: 0 0;
 transform-origin: 0 0;
 z-index: 1;
 transition: all 0.5s ease 0s;
}
.box:hover .boxContent{
 -webkit-transform: rotate(0);
 transform: rotate(0);
 -webkit-transform-origin: 100% 100%;
 transform-origin: 100% 100%;
}
.box .title{
 display: inline-block;
 font-size: 30px;
 color: #fff;
 line-height: 45px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 margin: 0;
}
.box .post{
 display: block;
 font-size: 15px;
 color: #fff;
 text-transform: capitalize;
 padding: 8px 0 15px;
}
@media only screen and (max-width: 990px){
 .box{ margin-bottom: 20px; }
}
</style>

</head>
<body>
<div class="container">
<div class="row">
 {% if messages %}

                                {% for message in messages %}
                                    <br/>
                                    <div class="alert alert-warning">
  <center><strong>Oooops!</strong> {{ message }}</center>
</div>
                                {% endfor %}
                        </div>
                    {% endif %}
 <div class="col-md-8"><br/><br/>
{% for answer in candidate.answers.all %}
    {% for qu in answer.question.all %}
        <div class="alert alert-{% if answer.answer == qu.answer %}success{% else %}danger{% endif %}">
  <center>{{ qu }}</center>
</div>
        {% endfor %}
{% endfor %}
</div>
    <div class="col-md-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7dff6151697671.58f71db95c97d.png" name="aboutme" width="140" height="140" border="0" class="d-flex mr-3 rounded-circle"></a><br/>
                        <h3 class="media-heading">{{ candidate.name }}, {{ candidate.age }} year old</h3>
                        <span class="label label-success">{{ candidate.planet.name }}</span>
                    </center>
                    <hr>
                    <center><form method="post">
                        {% csrf_token %}
                        <input type="text" value="{{ candidate.id }}" name="candidate" hidden>
                        {% if not candidate.teacher %}<button class="btn " type="submit">Choise!</button>{% endif %}
                    </form>
                        </center>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>