<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academy</title>
</head>
<body><center>
<strong><h1>Who are you?</h1></strong>
<a href="{% url 'candidate_register' %}"><img src="http://lizasimpson.com/uploads/_pages/364/luke-skywalker2.jpg" width="390" title="Candidate"/></a>
<a href="{% url 'jedi_choice' %}"><img src="http://lizasimpson.com/uploads/_pages/485/star-wars3.jpg" title="Jedi"/></a>
</center>
</body>
</html>