{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jedis</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

<style>
.box{
 position: relative;
 overflow: hidden;
 box-shadow: 0 0 5px #555;
}
.box img{
 width: 80%;
 height: auto;
 transition: all 0.5s ease 0s;
}
.box:hover img{
 opacity: 0.3;
}
.box .boxContent{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 30px;
 background: rgba(0, 0, 0, 0.75);
 border: 4px solid rgba(255, 255, 255, 0.10);
 -webkit-transform: rotate(90deg);
 transform: rotate(90deg);
 -webkit-transform-origin: 0 0;
 transform-origin: 0 0;
 z-index: 1;
 transition: all 0.5s ease 0s;
}
.box:hover .boxContent{
 -webkit-transform: rotate(0);
 transform: rotate(0);
 -webkit-transform-origin: 100% 100%;
 transform-origin: 100% 100%;
}
.box .title{
 display: inline-block;
 font-size: 30px;
 color: #fff;
 line-height: 45px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 margin: 0;
}
.box .post{
 display: block;
 font-size: 15px;
 color: #fff;
 text-transform: capitalize;
 padding: 8px 0 15px;
}
@media only screen and (max-width: 990px){
 .box{ margin-bottom: 20px; }
}
</style>

</head>
<body>
<div class="container">
<div class="row">
{% if candidates %}
    {% for candidate in candidates %}
     <div class="col-md-4 col-sm-6">
 <a href="{% url 'candidate' candidate.id %}?jedi_id={{ jedi_id }}"><div class="box">
 <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7dff6151697671.58f71db95c97d.png">
 <div class="boxContent">
 <h3 class="title">{{ candidate.name }}</h3>
 <span class="post">{{ candidate.planet.name }}</span>
 </div>
 </div></a>
 </div>
    {% endfor %}
{% else %}
<br/>
         <div class="alert alert-warning">
  <center><strong>Oooops!</strong>Пока нет кандитатов из Вашей планеты, прошедших тест.</center>
</div>
                        </div>
{% endif %}
</div>
</div>
</body>
</html>