{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

<style>
            .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }
            .btn.btn-signin {
            /*background-color: #4d90fe; */
            background-color: rgb(104, 145, 162);
            /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }

        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }
[class*="sticker"] {
 position: relative;
 margin: 15px 0;
 padding: 33px 15px 15px;
 background: #fff;
 border-radius: 6px;
 box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .64)
}
[class*="sticker"]:after {
 content: attr(data-sticker);
 position: absolute;
 top: 0;
 padding: 3px 7px;
 font-size: 12px;
 font-weight: bold;
 background: #999;
 color: #fff
}

.sticker-left {
 border-top-left-radius: 6px
}
.sticker-right {
 border-top-right-radius: 6px
}
.sticker-left:after {
 left: 0;
 border-radius: 6px 0 6px 0
}
.sticker-right:after {
 right: 0;
 border-radius: 0 6px 0 6px
}
.sticker-danger:after {
 background: #d9534f
}
.sticker-warning:after {
 background: #f0ad4e
}
.sticker-success:after {
 background: #5cb85c
}
.sticker-info:after {
 background: #5bc0de
}
.sticker-inverse:after {
 background: #222
}
</style>

</head>
<body>
{% if messages %}

                                {% for message in messages %}
                                    <br/><div class="alert alert-warning">
  <center><strong>Oooops!</strong> {{ message }}</center>
</div>
                                {% endfor %}
{% else %}
<form action="/test" method="post">
{% csrf_token %}
{% for question in test.questions.all %}
 <div class="sticker-left sticker-success text-center" data-sticker="Вопрос № {{ loop.index }} ">{{ question.question }}<br>
 <div class="radio">
  <label class="radio-inline" ><input type="radio"  name="{{ question.id }}" value="True">True</label>
  <label class="radio-inline" ><input type="radio" name="{{ question.id }}" value="False" checked>False</label>
</div>
 </div>
{% endfor %}
<center><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Send</button></center>
</form>
{% endif %}
</body>
</html>